<div class="row" style="padding-top: 50px;padding-left:130px;padding-right:200px;">
  <div class="col-md-6">
    <h1>Student GPA Record App </h1>
    <div class="form-group">
      <label for="start_year">Start Year : </label>
      <input type="number" class="form-control" id="start_year" [(ngModel)]="start_yearText" #start_year="ngModel">
    </div>
    <div class="form-group">
      <label for="end_year">End Year : </label>
      <input type="number" class="form-control" id="end_year" [(ngModel)]="end_yearText" #end_year="ngModel">
    </div>
    <button class="btn btn-default" (click)="getFilterItems(start_year.value,end_year.value)">Get Records</button>
  </div>
</div>

<br>
<br>

<!--<div *ngIf="undefined === restItems">Loading...</div>-->

<div class="row" style="padding-left:130px;padding-right:200px;">
  <div class="col-md-12">
    <div class="mydatatable">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>StartYear</th>
            <th>EndYear</th>
            <th>GPARecord</th>
          </tr>
        </thead>
        <tbody id="dataDiv" *ngIf="undefined !== restItems">
          <tr *ngFor="let row of restItems ">
            <td>{{row.Id}}</td>
            <td>{{row.Name}}</td>
            <td>{{row.StartYear}}</td>
            <td>{{row.EndYear}}</td>
            <td>{{row.GPARecord}}</td>
          </tr>

      </table>
    </div>
  </div>
</div>
